{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Status</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-900">
        <div class="bg-white p-8 rounded-lg shadow-md max-w-sm ml-5 mr-5">
            <h1 class="text-2xl font-bold text-red-600 mb-4">Payment Successful</h1>
            
            <h2 class="text-1xl font-bold text-gray-900 mb-4">Payment Details</h2>
            <ul class="mb-4 text-gray-700 list-inside">
                {% comment %} <li>Merchant Invoice Number: {{ payment_details.merchantInvoiceNumber }}</li> {% endcomment %}
                <li>Transaction ID: {{ payment_details.trxID }}</li> 
                <li>Amount: {{ payment_details.amount }}</li>
            </ul>
            <a href="{% url 'index' %}" class="bg-blue-500 text-white py-1 px-4 rounded w-full mt-4 ml-auto text-center">Go to Event Page</a>
        </div>
    </div>
</body>
</html>
